@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Vibur", cursive;
  font-family: "Abel", sans-serif;
  opacity: 0.95;
}
form {
  width: 450px;
  min-height: 500px;
  border-radius: 5px;
  height: auto;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #e3fdf5 50%, #ffe6fa 50%);
}
form.con {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}
header {
  margin: 2% auto 10% auto;
  text-align: center;
}
header h2 {
  font-size: 250%;
  font-family: "Playfair Display", serif;
  color: #3e403f;
}
header p {
  letter-spacing: 0, 05em;
}
.input-item i {
  font-size: 40px;
}
/* //////////////////////////////////////////// */
.field-set {
  text-align: center;
}
.input-item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}
/*show/hidden password font icon*/
#eye {
  color: #333;
  margin-left: -20px;
  padding: 15px 9px 19px 0px;

  float: right;
  position: relative;
  right: 1%;
  top: -0.2%;
  z-index: 5;

  cursor: pointer;
}

i {
  font-size: 20px;
}

/*input form*/
input[class="form-input"] {
  width: 240px;
  height: 50px;

  margin-top: 2%;
  padding: 15px;

  font-size: 16px;
  font-family: "Abel", sans-serif;
  color: #5e6472;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}
input[id="txt-input"] {
  width: 250px;
}
input[id="pws"] {
  width: 250px;
}

/*forcus*/
input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

input[type="text"] {
  min-width: 250px;
}

/* buttons  */
.log-in {
  width: 260px;
  background: #fff;
}

button {
  display: inline-block;
  color: #252537;

  width: 260px;
  height: 50px;

  padding: 0 20px;
  border-radius: 5px;

  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;

  margin: 7% auto;
  letter-spacing: 0.05em;
}

/* Submits */
.submits {
  width: 48%;
  display: inline-block;
  float: left;
  margin-left: 16%;
}

/*       Forgot Password button FAF3DD  */
.ftgt-pass {
  background: transparent;
  width: 100px;
}

/*     Sign Up button  */
.sign-up {
  background: #b8f2e6;
  width: 100px;
}

/* buttons hover */
button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */

button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}
